<app-header [navToggler]="drawer"></app-header>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side">
    <a routerLink="/" mat-flat-button class="nav_but_tog">
      <mat-icon>home</mat-icon> <span>Home</span>
    </a>
    <a routerLink="/make-date" mat-flat-button class="nav_but_tog">
      <mat-icon>calendar_month</mat-icon> <span>Establecer una cita</span>
    </a>
    <a routerLink="/more-info" mat-flat-button class="nav_but_tog">
      <mat-icon>article</mat-icon> <span>Más información</span>
    </a>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>