<main>
    <section class="first">
        <div class="text-container">
            <h1>TU SALUD ESTÁ SEGURA CON NOSOTROS</h1>
            <p>
                Nuestra alta taza de pacientes curados nos certifica como
                una entidad totalmente confiable a la salud.
            </p>
        </div>
        <div class="image-container">
            <img src="medicare/assets/medical-5459654.svg" alt="medico ps">
        </div>
    </section>
    <section class="second">
        <mat-divider [ngStyle]="{'border-width.px':2,'border-color':'#4BAC90'}"></mat-divider>
        <h2>¿Necesita atención médica inmediate?</h2>
        <p>
            Puede adquirirla comunicándose con uno de nuestros médicos especialistas
            haciendo click en el botón enlace de aquí abajo.
        </p>
        <div class="btn-container">
            <a routerLink="" mat-flat-button color="primary">consigue un médico</a>
        </div>
        <mat-divider [ngStyle]="{'border-width.px':2,'border-color':'#4BAC90'}"></mat-divider>
    </section>
</main>
<app-footer></app-footer>