<div class="footer-container">
    <div class="categories-container">
        <h3>Categorías: </h3>
        <a href="#">Cirugías</a>
        <a href="#">Implantes</a>
        <a href="#">Donaciones</a>
        <a href="#">Consultas</a>
    </div>
    <div class="brand-container">
        <h1>Medicare</h1>
        <p>Copyright Said Suyvi@2022</p>
    </div>
    <div class="additional">
        <h4>Diseñada y maquetada por Said Suyvi.</h4>
        <p>Toda información mostrada en esta página es solo de prueba. No está sujeta a ninguna entidad real y mucho menos está considerada como página oficial.</p>
    </div>
</div>